:root{
    --color-brand-green: #042616;
    --color-brand-purple: #6214A3;
    --color-brand-bone-100: #eeebe3;
    --color-brand-bone-200: #F3E6DE;
    --color-brand-bone-300: #D9C6BA;
    --color-brand-beige: #734930;

    --color-black:#0D0D0D;
    --color-white:#F2F2F2;

    --color-grey-100: #747F8C;
    --color-grey-100: #1E2D40;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--color-brand-green);
    /* background-color: rgba(0,0,0,0); */
    color: var(--color-brand-bone-300);
    height: fit-content;
    padding: 0 2rem;
}